//! Declare Variables

// them colors
$primary: rgb(0, 183, 255) !default;
$secondary: rgb(71, 247, 65) !default;
$error: rgb(250, 45, 45) !default;
$info: rgb(246, 195, 28) !default;

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "blue": rgb(25, 25, 230),
  "red": rgb(230, 25, 25),
  "yellow": rgb(230, 230, 25),
  "green": rgb(25, 230, 53),
  "orange": rgb(255, 166, 0),
  "purple": rgb(153, 0, 255),
  "gray": rgb(128, 128, 128),
  "black": rgb(0, 0, 0),
  "white": rgb(255, 255, 255),
) !default;

// spacing
$base-padding: 0.75rem !default;
$base-margin: 0.75rem !default;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

//! we can use ( _ ) in first letter of word for ignore compiled

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;
