@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  background-color: rgb(202, 215, 241);
}
.side-nav {
  width: 250px;
  height: 100vh;
  background-color: rgb(16, 124, 255);
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
}
.logo {
  display: block;
  margin-bottom: 130px;
}
.logo-img {
  width: 150px;
}
.nav-links {
  list-style: none;
  position: relative;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links li a {
  color: rgb(53, 54, 54);
  text-decoration: none;
  padding: 10px 10px;
  font-size: 1.1rem;
  font-weight: bolder;
}
.nav-links li a i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.active {
  background-color: white;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  box-shadow: 0 0px 15px rgba(255, 255, 255, 0.8);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  transition: 0.3s;
}

.nav-links li:hover a {
  color: rgb(16, 124, 255);
  transition: 0.3s;
}

.nav-links li:hover ~ .active {
  display: block;
}

.nav-links li:nth-child(1):hover ~ .active {
  top: 0;
}
.nav-links li:nth-child(2):hover ~ .active {
  top: 48px;
}
.nav-links li:nth-child(3):hover ~ .active {
  top: 96px;
}
.nav-links li:nth-child(4):hover ~ .active {
  top: 144px;
}
.nav-links li:nth-child(5):hover ~ .active {
  top: 192px;
}
.nav-links li:nth-child(6):hover ~ .active {
  top: 240px;
}
